{% extends "index2.html" %}
{% load staticfiles %}


{% block content %}

<div class=pharmacyBackground>
  <h2>Delete listing</h2>
</div>

<div class="deleteFormContainer">
  <form id="signInForm" method="post">
  <h3>Are you sure you want to delete listing {{ listing.product }}?</h3>
    {% csrf_token %}
    <div class="deleteButtonContainer">
      <a href="{% url 'user_profile'  %}">No</a>
    	<button type="submit" class="btn btn-danger deleteButton2">Yes</button>
    </div>
	</form>

</div>
    
 

 {% endblock %}