{% extends "index2.html" %}
{% load staticfiles %}


{% block content %}

<div class="detailedBackground">
	<h2>{{ listing.product }}</h2>
</div>

<div class="detailedContainer">
	<div class="detailedBox">
		<div class="detailedDescription">
			<div class="detailedPic">
				 <img src='{{ listing.picture.url }}' class='img-responsive' />
				<div class="feedbackPic2">
	        		<img src='{{ listing.user.userprofile.picture.url }}' class='img-responsive' />
			          <div class="feedbackText2">
			            <p>{{ listing.user.userprofile.firstname }}&nbsp;{{ listing.user.userprofile.secondname }}<p>
			            <i class="fa fa-star" aria-hidden="true"></i>
			            <i class="fa fa-star" aria-hidden="true"></i>
			            <i class="fa fa-star" aria-hidden="true"></i>
			            <i class="fa fa-star" aria-hidden="true"></i>
			            <i class="fa fa-star-o" aria-hidden="true"></i>
			          </div>
		        </div>
			</div>
			<div class="detailedInfo">
				<div class="detailedText">
					<h3>Description</h3>
					<p>This is a description of the product.  You can any text in here that you feel is relevant
						This is a description of the product.  You can any text in here that you feel is relevant</p>
				</div>
				<div class="detailedFooter">
        			<div><i class="fa fa-shopping-basket" aria-hidden="true"></i><p>&nbsp;&nbsp; Stock: <b>{{ listing.quantity }}</b></p></div>
        			<div><i class="fa fa-tags" aria-hidden="true"></i><p>&nbsp;&nbsp; On-floor stock: <b> {{ listing.on_floor }}</b></p></div>
        			<div><i class="fa fa-truck" aria-hidden="true"></i><p>&nbsp;&nbsp; Delivery: <b>{{ listing.delivery }}</b></p></div>
				</div>
			</div>
		</div>
		

		<div class="detailedList">
			<h3>Product Information</h3>
			
			<div class="detailedItems"><p><b>Name:</b></p><p>{{ listing.product }}</p></div>
			<div class="detailedItems"><p><b>Form:</b></p><p>{{ listing.product_type }}</p></div>
			<div class="detailedItems"><p><b>Strength:</b></p><p>{{ listing.product_strength }}</p></div>
			<div class="detailedItems"><p><b>Pack size:</b></p><p>{{ listing.quantity }}</p></div>
			<div class="detailedItems"><p><b>Manufacturer:</b></p><p>{{ listing.product }}</p></div>
			<div class="detailedItems"><p><b>Expiry dare:</b></p><p>{{ listing.expiry_date }}</p></div>
			<div class="detailedItems"><p><b>Origin:</b></p><p>{{ listing.origin }}</p></div>
			<div class="detailedItems"><p><b>CoA:</b></p><p>{{ listing.coa }}</p></div>
			<div class="detailedItems"><p><b>Barcode:</b></p><p>{{ listing.barcode }}</p></div>

		</div>
	</div>
</div>

{% endblock %}